@page
@model FinalProjectDotNet.Pages.Players.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Player Details</h1>

<div>
    @*<h4>TblPlayers</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPlayers.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPlayers.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPlayers.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPlayers.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblPlayers.Id">Edit Player</a> |
    <a asp-page="./Index">Back to Players List</a>
</div>
